@page
@model WebApplicationRazor.Pages.Car.CarModel
@{
}
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Doors</th>
                <th>Color</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.cars != null)
            {
                foreach (var car in Model.cars)
                {
                    <tr>
                        <td>@car.Id</td>
                        <td>@car.Make</td>
                        <td>@car.Model</td>
                        <td>@car.Year</td>
                        <td>@car.Doors</td>
                        <td>@car.Color</td>
                        @if (@car.ShowPrice)
                        {
                                        <td>@car.Price</td>
                        }
                        else
                        {
                                    <td>******</td>
                        }
                        <td>
                            <!-- <snippet_Edit> -->
                    <a asp-page="./Edit" asp-route-id="@car.Id">Edit</a> |
                            <!-- </snippet_Edit> -->
                    <a asp-page="./GuessPrice" asp-route-id="@car.Id">Guess Price</a> |
                            <!-- <snippet_Delete> -->
                    <button type="submit" asp-page-handler="delete" asp-route-id="@car.Id">delete</button>
                            <!-- </snippet_Delete> -->
                    <button type="submit" asp-page-handler="showprice" asp-route-id="@car.Id">Show Price</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a asp-page="Create">Create New</a>
    <button type="submit" asp-page-handler="resetcarslist">Reset all changes</button>
</form>